#-------
# [AM]
#-------

#-----------------------------------------------------
# Visual Studio Project files for development except 
#-----------------------------------------------------
dev/

#--------------------------------
# Distribution / packaging
#--------------------------------
build/

#--------------------------------
# docs
#--------------------------------
README_doc.md 
docs/*
!docs/Doxy_config
!docs/pages/
!docs/images/
